<div class="container">
	<div class="row">
		<div class="col-xs-3">

<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
</div>
<% end %>

<h1>User info</h1>
<%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
<table class="table table-striped">
	<tr>
		<th>name</th>
		<td><%= user.name %></td>
	</tr>
	<tr>
		<th>introduction</th>
		<td><%= user.profile %></td>
	</tr>
</table>

<% if user.id == current_user.id %>
<%= link_to edit_user_path(user.id),class: "btn btn-default btn-block edit_user_#{user.id}" do %>
<i class="glyphicon glyphicon-wrench"></i>
<% end %>
<% end %>

<h1>New book</h1>
<%= form_for (book) do |f| %>

<% if book.errors.any? %>
   <h3><%= book.errors.count %>errors prohibited this obj from being saved.</h3>
        <% book.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>

<label>Title</label>
<%= f.text_field :title, class: 'form-control', class: "book_title" %>

<label>Opinion</label><br>
<%= f.text_area :caption, class: 'form-control', class: "book_body" %>
<br>
<%= render 'layouts/error_messages', model: f.object %>

<%= f.submit "Create Book", class: "btn btn-primary btn-block" %>

<% end %>


</div>
