<div class="container">
	<div class="row">
		<div class="col-xs-3">

<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
</div>
<% end %>

<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
<table class="table table-striped">
	<tr>
		<th>name</th>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<th>introduction</th>
		<td><%= @user.profile %></td>
	</tr>
</table>

<% if @user.id == current_user.id %>
<%= link_to edit_user_path(@user.id), class: "btn btn-default btn-block edit_user_#{@user.id}" do %>
<i class="glyphicon glyphicon-wrench"></i>
<% end %>
<% end %>

<h1>New book</h1>
<%= form_for (@book) do |f| %>

<label>Title</label>
<%= f.text_field :title, class: "book_title form-control" %>

<label>Opinion</label><br>
<%= f.text_area :caption, class: "book_body form-control" %>
<br>

<%= f.submit "Create Book", class: "btn btn-primary btn-block" %>

<% end %>


</div>


<div class="col-xs-9">
	<h1>Books</h1>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
		<% @books.each do |books| %>
		<tr>
			<td><%= attachment_image_tag books.user, :profile_image, fallback: "no_image.jpg",size: '40x40' %></td>
			<td><%= link_to book_path(books), class: "book_#{books.id}" do %><%= books.title %><% end %></td>
			<td><%= books.caption %></td>
		</tr>
		<% end %>
	</table>

	<%= paginate @books, class: "paginate" %>

</div>

</div>
</div>