<%= render 'books/list', user: current_user, book: @book %>

<div class="col-xs-9">
	<h1>Books</h1>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
		<% @books.each do |books| %>
		<tr>
			<td><%= attachment_image_tag books.user, :profile_image, fallback: "no_image.jpg",size: '40x40' %></td>
			<td><%= link_to book_path(books), class: "book_#{books.id}" do %><%= books.title %> <% end %></td>
			<td><%= books.caption %></td>
		</tr>
		<% end %>
	</table>



</div>

</div>
</div>